extends ../main

block content
    .stat.month
        each monthData, year in data
            .stat-header!= year
            .list
                each n, month in monthData
                    .item
                        .title!= new CustomDate(0, month-1).monthString()
                        .bar
                            .fill(style=`width: ${max == 0 ? 0 : (n/max)*100}%`)
                        .value!= n
