extends ../main

block content
    .stat.year
        .list
            each n, year in data
                .item
                    .title!= year
                    .bar
                        .fill(style=`width: ${(n/max)*100}%`)
                    .value!= n
