html
    include ../head
    body
        #banner
            a(href='/')= title
        #main
            include ../sidebar
            #content
                .header
                    span.back
                        a(href=`/${year}/${month}`) â†
                    span= dateFormat(new Date(year, month-1, day), 'dddd, mmmm d yyyy')
                include post
                #footer
