/* {{{1 Main sections */

#main {
    display: flex;
    justify-content: space-between;
}

#banner {
    margin-bottom: 60px;
}

#content {
    width: 515px;
}

#sidebar {
    width: 9ch;
}

/* {{{1 General elements */

body {
    font-family: Monaco, "Ubuntu Mono", "Lucida Console", monospace;
    font-size: 11px;
    background-color: var(--background);

    width: 650px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

a {
    text-decoration: none;
    color: var(--link);
}

a:hover {
    color: var(--link-hover);
    text-decoration: underline;
}

img, video {
    max-width: 100%;
    max-height: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
}

img.narrow {
    max-width: 50%;
    max-height: initial;
}

audio {
    width: 100%;
}

blockquote {
    margin-left: 0;
    padding-left: 1em;
    border-left: 1px solid var(--blockquote-border, var(--content));
}

figure {
    border: 1px solid var(--figure-border, var(--content));
    padding: 1em;
}

/* {{{1 Start page */

#start #index {
    display: inline-block;
}

#start #index .unit {
    display: flex;
    border-bottom: 1px solid var(--start-index-border, var(--ui));
    padding: 0.5ch;
    /* justify-content: space-between; */
}

#start #index .unit:first-child {
    border-top: 1px solid var(--start-index-border, var(--ui));
}

#start #index .unit .months {
    display: flex;
    margin-left: 3ch;
}

#start #index .unit .months .month {
    color: var(--link-disabled, var(--ui));
    width: 4.5ch;
    text-align: right;
}

#start #index .unit .year {
    color: var(--start-year, var(--ui));
}

/* {{{1 Sidebar */

#sidebar {
    line-height: 1.6em;
    text-align: right;
}

#sidebar #links {
    margin-top: 2ch;
    border-top: 1px solid var(--sidebar-divider, var(--ui));
    padding-top: 2ch;
    margin-bottom: 50px;
}

#sidebar #index .unit {
    margin-bottom: 3ch;
}

#sidebar #index .unit .year {
    color: var(--sidebar-year, var(--ui));
    margin-bottom: 0.5ch;
}

/* {{{1 Post */

.post {
    margin-top: 2em;
}

.post-body.view {
    color: var(--post-body, var(--content));
}

.post-body.view hr {
    border: 0.5px solid var(--post-body-hr, var(--content));
    width: 8em;
}

.post-body.view a {
    text-decoration: underline;
}

.post-body.view p {
    line-height: 1.6em;
}

.post-body.view p:last-child {
    margin-bottom: 0.5em;
}

.post-body.edit textarea {
    font-family: Monaco, "Ubuntu Mono", "Lucida Console", monospace;
    width: 100%;
    height: 25em;
    resize: none;
    color: var(--post-edit-fg, var(--content));
    background: var(--post-edit-bg, var(--background));
    outline: none !important;
    border: 1px solid var(--post-edit-border, var(--ui));
    padding: 1em;
}

#submit-edit {
    float: right;
    border: 1px solid var(--post-edit-submit-border, var(--ui));
    background: var(--post-edit-submit-background, var(--background));
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    padding-left: 1em;
    padding-right: 1em;
}

.post-footer {
    width: 140px;
}

.post-footer hr {
    border: 0.5px solid var(--post-footer-hr, var(--ui));
}

.post-footer .info {
    font-size: 0.7em;
    color: var(--post-footer, var(--ui));
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.post-footer .fav {
    cursor: default;
    font-size: 1.4em;
    text-align: center;
}

.post-footer .fav.active {
    color: var(--post-footer-fav);
}

/* {{{1 Header */

.header {
    color: var(--day-header, var(--ui));
    background-color: var(--day-header-background, var(--background));
    border-bottom: 1px solid var(--day-header-border, var(--ui));
    margin-top: 50px;
    position: sticky;
    top: 0;
}

.header:nth-child(1) {
    margin-top: 0;
}

.header .back {
    margin-right: 0.7em;
}

/* {{{1 Stat */

.stat-header {
    margin-bottom: 1em;
    text-decoration: underline;
    color: var(--stat-header, var(--ui));
}

.stat .list {
    margin-bottom: 1em;
    line-height: 1;
}

.stat .list .item {
    margin-bottom: 0.4em;
    display: flex;
}

.stat .list .item .title {
    margin-right: 1em;
    color: var(--stat-title, var(--ui));
}

.stat .list .item .bar {
    height: 1em;
    width: 100%;
    background-color: var(--stat-bar-empty, var(--background));
}

.stat .list .item .bar .fill {
    height: 1em;
    background-color: var(--stat-bar-fill, var(--content));
}

.stat .list .item .value {
    margin-left: 1em;
    color: var(--stat-value, var(--ui));
}

/* {{{1 Misc */

#banner {
    font-size: 40px;
}

#footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    margin-bottom: 50px;
    color: var(--footer-diamond, var(--ui));
}

#navArrows {
    font-size: 15px;
    width: 5em;
    display: flex;
    justify-content: space-between;
}

#navArrows div {
    width: 1em;
    text-align: center;
}

#no-posts {
    width: 250px;
    height: 50px;
    border: 1px dashed var(--no-posts-border, var(--ui));
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: italic;
    color: var(--no-posts, var(--ui));
}

#no-posts-container {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

/* vim: set fdm=marker: */
