html
    include head
    body
        #banner
            a(href='/')= title
        include sidebar
        #content
            if (favorites.size == 0)
                #no-posts-container
                    #no-posts= `No favorites.`
            else
                - let prevYear, prevMonth, prevDay;
                each url in [...favorites]
                    - let match = url.match(/^\/(\d{4})\/(\d{2})\/(\d{2})(\/(\d{2})\/(\d{2})\/(\d{2}))?$/);
                    - let [_, year, month, day, __, hour, minute, second] = match;
                    if !(prevYear == year && prevMonth == month && prevDay == day)
                        .header= dateFormat(new Date(year, month-1, day), 'dddd, mmmm d yyyy')
                        - [prevYear, prevMonth, prevDay] = [year, month, day];
                    include month/post
                #footer
