extends main

block content
    if (favorites.size == 0)
        #no-posts-container
            #no-posts= `No favorites.`
    else
        - let prevHeader = "";
        each url in [...favorites].sort()
            - let date = new CustomDate(url);
            - let h = date.dayMonthDateYearString()
            if h != prevHeader
                .header= h
                - prevHeader = h
            include month/post
        #footer
