html
    head
        title= title
        meta(charset='utf-8')
        block css
            link(rel='stylesheet' href='/static/default.css')
            link(rel='stylesheet' href=`/static/theme/${theme}.css`)
            link(rel='stylesheet' href='/static/main.css')
        block scripts
            script(defer src='/static/client.js')
    body
        #banner
            a(href='/')= title
        block body
