mixin dateSpans(d)
    - let parts = [d.dayStringShort(), d.dateMonthStringShort(), d.getFullYear(), d.timeString()]
    for part in parts
        span= part

.post
    block content
    block action
    .post-footer
        .info
            +dateSpans(date)
            block link
            span(
                class = favorites.has(date.postUrl()) ?
                    ['fav', 'active'] :
                    ['fav']
                onclick = `fav(this, '${date.postUrl()}')`) ★
        block extra
            hr
            .info
                span created:
                +dateSpans(new CustomDate(fs.statSync(date.file()).birthtime))
            .info
                span edited:&nbsp;
                +dateSpans(new CustomDate(fs.statSync(date.file()).mtime))
