#sidebar
    #index
        - let y = firstYear;
        - let m = firstMonth;
        while (y <= lastYear)
            .unit
                .year= y
                .months
                    while ((y != lastYear && m <= 12) || m <= lastMonth)
                        .month
                            a(href=`/${y}/${m.zeropad(2)}`)= dateFormat(new Date(Date.UTC(y, m - 1)), 'UTC:mmmm')
                        - m++;
            - y++; m = 1;
    #links
        a(href='/favorites') Favorites
