#sidebar
    #index
        - let y = firstYear;
        - let m = firstMonth;
        while (y <= lastYear)
            .unit
                .year= y
                .months
                    while ((y != lastYear && m <= 12) || m <= lastMonth)
                        .month
                            - let date = new CustomDate(y, m);
                            a(href=date.monthUrl())= date.monthString()
                        - m++;
            - y++; m = 1;
    #links
        a(href='/favorites') Favorites
        br
        a(href='/stat') Stats
