html
    include head
    body
        #banner
            a(href='/')= title
        center
            #start
                #index
                    - let y = firstYear;
                    - let m = 1;
                    while (y <= lastYear)
                        .unit
                            .year= y
                            .months
                                while (m <= 12)
                                    .month
                                        - let date = new CustomDate(y, m)
                                        if ((y == firstYear && m < firstMonth) || (y == lastYear && m > lastMonth))
                                            = date.monthStringShort()
                                        else
                                            a(href=date.monthUrl())= date.monthStringShort()
                                    - m++;
                        - y++; m = 1;
