html
    include head
    body
        #banner
            a(href='/')= title
        center
            #start
                #index
                    - let y = firstYear;
                    - let m = 1;
                    while (y <= lastYear)
                        .unit
                            .year= y
                            .months
                                while (m <= 12)
                                    .month
                                        if ((y == firstYear && m < firstMonth) || (y == lastYear && m > lastMonth))
                                            =dateFormat(new Date(y, m - 1), 'mmm').toLowerCase()
                                        else
                                            a(href=`/${y}/${m.zeropad(2)}`)= dateFormat(new Date(y, m - 1), 'mmm').toLowerCase()
                                    - m++;
                        - y++; m = 1;
