extends main

append css
    link(rel='stylesheet' href='/static/start.css')

block body
    #index-container
        #index
            each y in years
                .row
                    .year= y.year
                    .months
                        each m of y.months
                            if m.days.length > 0
                                .month
                                    a(href=`/${y.year}/${m.month}`)= m.shortName
                            else
                                .month= m.shortName
