html
    include ../include/head
    body
        #banner
            a(href='/')= title
        include ../include/month-index
        #content
            block content
                #footer
                    block footer
