extends all

prepend content
    .header
        span.back
            block back
        span= dateFormat(new Date(Date.UTC(year, month-1, day)), 'UTC:dddd, mmmm d yyyy')
    .post
        block content
        .post-info
            block date
            span= dateFormat(date, 'UTC:ddd').toLowerCase()
            span= dateFormat(date, 'UTC:dd/mm')
            span= dateFormat(date, 'UTC:yyyy')
            block time
            block action
