case extension
    when 'gif'
    when 'jpeg'
    when 'jpg'
    when 'png'
      img(src=`/${path}`)
    when 'amr'
    when 'mp3'
        audio(src=`/${path}`)
    when 'mov'
    when 'mp4'
        video(src=`/${path}`)
    default
        | UNKNOWN FORMAT
