html
    include ../head
    body
        #banner
            a(href='/')= title
        #main
            include ../sidebar
            #content
                .header
                    span.back
                        a(href=date.postUrl()) â†
                    span= date.dayMonthDateYearString()
                include post
                #footer
