extends ../post

block content
    form(class='post-body edit' id='main' action=`${back}?edited` method='post')
        - let post = fs.readFileSync(file).toString()
        - post = post.substring(0, post.length - 1)
        textarea(form='main' name='message')!= post

block action
    input(type='submit' form='main' value='Done')
